$primary-color: rgba(0, 48, 87, 1);
$secondary-color: rgba(179, 163, 105, 1);
$dark-color: rgba(37, 35, 35, 1);
$dark-color50: rgba(37, 35, 35, 0.5);
$light-color: rgba(224, 251, 252, 1);
$danger-color: rgba(217, 83, 79, 1);
$success-color: rgba(92, 184, 92, 1);
$gray-color: rgba(66, 71, 73, 1);
