.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  h2 {
    font-family: 'Special Elite';
    text-align: center;
  }
  a {
    color: $secondary-color;
  }
  a:hover {
    color: $light-color;
  }
}
.portfolio-item {
  background-color: $dark-color50;
  min-height: 300px;
  max-height: 500px;
  min-width: 150px;
  max-width: 300px;
  border-radius: 10px;
  margin: 0 0 20px 0;
  padding: 8px;
}
.portfolio-item:hover {
  background-color: $dark-color;
}
